In [2]:
#11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.
import zoo
zoo.hours()

Open 9-5 daily

In [3]:
#11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [4]:
#16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order. 
#16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3

# Create database and table
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

# Create table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# sample data
books = [
    ('Pride and Prejudice', 'Jane Austen', 1813),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925),
    ('Moby Dick', 'Herman Melville', 1851),
]
cursor.executemany('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', books)

conn.commit()
conn.close()

In [5]:
from sqlalchemy import create_engine, MetaData, Table, select

# Connect to the SQLite database
engine = create_engine('sqlite:///books.db')
connection = engine.connect()

# Reflect the database structure
metadata = MetaData()
books_table = Table('books', metadata, autoload_with=engine)

# Query the titles in alphabetical order
query = select(books_table.c.title).order_by(books_table.c.title)
result = connection.execute(query)

# Print the titles
for row in result:
    print(row.title)

connection.close()

Moby Dick
Pride and Prejudice
The Great Gatsby